@media screen and (max-width:768px) {
    $font: 'Apple Chancery' ,sans-serif;

    .wrapper {
        height: 100%;
        overflow-x: hidden;
        position: relative;
    }

    header {
        display: flex;
        width: 100%;
        background-color: #fff;
        h2 {
            width: 100px;
            margin: 0 auto;
            color: #bfbfbf;
            font-family: $font;
        }
        .overlay {
            content: "";
            display: block;
            width: 0;
            height: 0;
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            opacity: 0;
            transition: opacity .5s;
            &.open {
                width: 100%;
                height: 100%;
                opacity: 1;
            }
        }
        main {
            height: 100%;
            min-height: 100vh;
            padding: 0 50px;
            background-color: #eee;
            transition: all .5s;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1 {
                text-align: center;
                font-weight: 500;
            }
            p {
                text-align: center;
            }
        }
        .menu-trigger {
            display: inline-block;
            width: 36px;
            height: 28px;
            vertical-align: middle;
            cursor: pointer;
            position: fixed;
            top: 30px;
            right: 30px;
            z-index: 100;
            span {
                display: inline-block;
                box-sizing: border-box;
                position: absolute;
                left: 0;
                width: 100%;
                height: 4px;
                background-color: #000;
                transition: all .5s;
                &:nth-of-type(1) {
                    top: 0;
                }
            }
            &.active {
                span {
                    background-color: #fff;
                    &:nth-of-type(1) {
                        transform: tra;
                    }
                }
            }
        }
    }



}