@media screen and (max-width:600px) {
    header {
        width: 100%;
        background-color: #fff;
        h2 {
            width: 100px;
            margin: 0 auto;
            color: #bfbfbf;
        }
    }
    main {
        width: 100%;
        .main__header {
            width: 100%;
            h2 {
                width: 200px;
                margin: 0 auto;
                img {
                    width: 100%;
                    margin: 0 auto;
                }
            }

            
        }
    }
    
}